.App-cont {

  height: 625px;
  
  
}



.img-contr
{
  width: 100%;
  height:100%;
  
}

.head-align
{
  margin: 0;
  position: absolute;
  top: 10%;
  left:10%
  
  

}

.center-place
{
    margin: 0;
    position: absolute;
    top: 50%;
    left:45%
}

.btn
{  background-color: cornflowerblue;
  color:rgb(201, 177, 177);
  font-size: medium;
  font-weight: bold;
  width: 150px;
  height: 40px;
}

#final-task
{margin: 0;
  position: absolute;
  top: 70%;
  left:30%
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}





.App-link {
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
